.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

.menu .menu-item::before {
  content: "";
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background-color: #424242;
}

.menu .menu-item {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.menu .menu-item .menu-link {
  display: block;
  margin: 0 10px;
  line-height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu .menu-item .menu-link:hover {
  color: #ff6700;
}

/* Dropdown menu */
.menu .dropdown {
  position: relative;
}

.menu .dropdown-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 7px 0;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  height: 0;
  opacity: 0;
}

.menu .dropdown-menu .dropdown-item .dropdown-link {
  line-height: 30px;
}

.menu .dropdown-menu .dropdown-item:last-child .dropdown-link {
  margin-bottom: 10px;
}

/* On Hover */
.menu .dropdown:hover {
  background: royalblue;
  bottom: royalblue;
}

.menu .dropdown:hover .menu-link {
  color: #ff6700;
}

.menu .dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  padding: 7px 0;
  height: max-content;
  width: max-content;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
}

.menu .dropdown:hover > .dropdown-menu .dropdown-link {
  color: deepskyblue;
}

.menu .dropdown:hover > .dropdown-menu .dropdown-link:hover {
  color: #ff6700;
}
